[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.3"
python-dotenv = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-factoryboy = "*"
whitenoise = "*"
factory-boy = "*"
black = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.10"
